.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

.wrap {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.wrap.light {
    background-color: #fff;
    color: #282c34;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

a {
    color: #fff;
}
.wrap.light a {
    color: #282c34;
}

.wrapper {
    position: relative;
}
#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label:hover {
    background: #efefef;
}
.onf_btn {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 20px;
    background: #daa;
    transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch:checked + .switch_label:hover {
    background: #e55;
}

/* move */
#switch:checked + .switch_label .onf_btn {
    left: 33px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}
